<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="glew" version="1.9.0.1" targetFramework="native" />
  <package id="glew.redist" version="1.9.0.1" targetFramework="native" />
  <package id="Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn" version="1.8.1.5" targetFramework="native" />
  <package id="OpenAL.Soft" version="1.19.1" targetFramework="native" />
  <package id="pthreads" version="2.9.1.4" targetFramework="native" />
  <package id="pthreads.redist" version="2.9.1.4" targetFramework="native" />
  <package id="zlib_native" version="1.2.11" targetFramework="native" />
  <package id="zlib_native.redist" version="1.2.11" targetFramework="native" />
</packages>